PatrolControl.UI/Service References/PatrolControlServiceReference/PatrolControlService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1823/PatrolControlService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="LoginResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsWithSimularNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsWithSimularNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetBuildingsWithSimularNamesResult" nillable="true" type="q2:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetUserResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetOfficerResult" nillable="true" type="q4:Officer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetStreetResult" nillable="true" type="q5:Street" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetBuildingResult" nillable="true" type="q6:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetPatrolDistrictResult" nillable="true" type="q7:PatrolDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetTownDistrictResult" nillable="true" type="q8:TownDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetOfficersResult" nillable="true" type="q10:ArrayOfOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetStreetsResult" nillable="true" type="q11:ArrayOfStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetBuildingsResult" nillable="true" type="q12:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetPatrolDistrictsResult" nillable="true" type="q13:ArrayOfPatrolDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="GetTownDistrictsResult" nillable="true" type="q14:ArrayOfTownDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q15:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOfficers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q16:ArrayOfOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOfficersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStreets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q17:ArrayOfStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStreetsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q18:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBuildingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatrolDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q19:ArrayOfPatrolDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatrolDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTownDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q20:ArrayOfTownDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTownDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q21:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfficers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q22:ArrayOfOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOfficersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStreets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q23:ArrayOfStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStreetsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q24:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBuildingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatrolDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q25:ArrayOfPatrolDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatrolDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTownDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q26:ArrayOfTownDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTownDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q27:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfficers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q28:ArrayOfOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfficersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStreets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q29:ArrayOfStreet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStreetsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q30:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBuildingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatrolDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q31:ArrayOfPatrolDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePatrolDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTownDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PatrolControl.Service.Model" minOccurs="0" name="entities" nillable="true" type="q32:ArrayOfTownDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTownDistrictsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>